/*I pledge my honor that I have abided by the Stevens Honor system*/
* {
box-sizing: border-box;
}

/* Add a gray background color with some padding */
body {
font-family: Arial;
padding: 20px;
background-image: linear-gradient(to bottom Right, #ffbb1d, #fff41d, red);
}

/* Header/Blog Title */
.header {
  margin: auto;
  align-items: center;
padding: 20px;
font-size: 2.5vw;
text-align: center;
background-image: linear-gradient(to bottom Right, #cca3ff, #e8ddf0, #cca3ff);
border-radius: 25px;
width: 100%;
max-width: 1600px;
height: auto;
}

/* Left column */
.leftcolumn {
  padding-top: 20px;
float: left;
width: 80%;
}

/* Right column */
.rightcolumn {
  padding-top: 20px;
float: left;
width: 20%;
padding-left: 20px;
}

/* Positions the first image */
.card img {
padding: 20px;
height: auto;
max-height: 500px;
width: 100%;
max-width: 1000px;
height: auto;
object-fit: contain;
margin: auto;
display: block;
border-spacing: inherit;
border-radius: 25px;
}

/* Add a card effect for articles */
.card {
background-color: white;
padding: 20px;
margin-top: 20px;
border-radius: 25px;
width: 100%;
max-width: 1200px;
height: auto;
}


/* Effects for the twitter feed in the right column*/
.twitter-timeline {
  width: 100%;
}
/* Formats what the page should look like after the colums end */
.row:after {
content: "";
display: table;
clear: both;
}

.smallCard{
  background-color: white;
  padding: 20px;
  border-radius: 25px;
  width: 50%;
  max-width: 600px;
  height: auto;
  margin: auto;
  border-spacing: 20px;
}

/* Footer - Bottom most part */
.footer {
padding: 20px;
text-align: center;
margin: auto;
}
