/*I pledge my honor that I have abided by the Stevens Honor System*/

@media only screen and (max-width:480px){
    .title {
        text-align: center;
        font-size:1.5em;
        padding-top: 30%;
        color:goldenrod;
    }

    ul{
        text-align:center;
        padding-right:10px;
        list-style-position:inside;
        list-style-type: square;
    }

    li{
        font-size: 1.25em;
        padding-bottom: 10px;
    }
    body{

        background: url("../assets/clipboard.jpg") no-repeat;
        background-position-x: center;
        background-size:150%;
    }
}
@media only screen and (min-width:480px) and (max-width:769px){
    .title {
        text-align: center;
        font-size:1.75em;
        padding-top: 200px;
        color:goldenrod;
    }

    ul{
        text-align:center;
        padding-right:10px;
        list-style-position:inside;
        list-style-type: square;
    }

    li{
        font-size: 1.25em;
        padding-bottom: 10px;
    }
    body{

        background: url("../assets/clipboard.jpg") no-repeat;
        background-position-x: center;
        background-size:auto;
    }
}
@media only screen and (min-width:769px){
    .title {
        text-align: center;
        font-size:1.75em;
        padding-top: 200px;
        color:goldenrod;
    }

    ul{
        text-align:center;
        padding-right:10px;
        list-style-position:inside;
        list-style-type: square;
    }

    li{
        font-size: 1.25em;
        padding-bottom: 10px;
    }
    body{

        background: url("../assets/clipboard.jpg") no-repeat;
        background-position-x: center;
        background-size:auto;
    }
}